<div class="row">
	<div class="col-sm-6">
		<h3>Register</h3>
		<form class="form" ng-submit="UC.createUser(UC.newUser)">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" name="name" class="form-control" ng-model="UC.newUser.name">
			</div>
			<div class="form-group">
				<label for="name">Email</label>
				<input type="text" name="email" class="form-control" ng-model="UC.newUser.email">
			</div>
			<div class="form-group">
				<label for="name">Password</label>
				<input type="password" name="password" class="form-control" ng-model="UC.newUser.password">
			</div>
			<div class="form-group">
				<label for="name">Confirm Password</label>
				<input type="password" name="password_confirmation" class="form-control" ng-model="UC.newUser.password_confirmation">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Register User</button>
			</div>
		</form>
		<div uib-alert ng-repeat="alert in UC.registrationErrors" ng-class="'alert-' + (alert.type || 'warning')" close="UC.closeAlert($index, UC.registrationErrors)">{{alert.msg}}</div>
	</div>
	<div class="col-sm-6">
		<h3>Login</h3>
		<form class="form" ng-submit="UC.login(UC.loginUser)">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" ng-model="UC.loginUser.email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="UC.loginUser.password">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Login</button>
			</div>
		</form>
		<div uib-alert ng-repeat="alert in UC.loginErrors" ng-class="'alert-' + (alert.type || 'warning')" close="UC.closeAlert($index, UC.loginErrors)">{{alert.msg}}</div>
	</div>
</div>